*.*~
.DS_*
._*
qtbuild
v3build
v5build
wxbuild
qtbuild
qt-build
qtcreator-build
CMakeLists.txt.user
CMakeLists.txt.user.*
*~
*.a
*.so
cr3gui/data/desktop/
cr3gui/data/devices/
cr3gui/data/manual/
cr3gui/data/cr3.css
cr3gui/data/cr3.ini
cr3gui/data/dict/
cr3gui/data/dict_ext
cr3gui/data/tessdata/
.directory
*.orig
*.rej
/clang-analyzer-reports/
