#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

CFLAGS += -fvisibility=hidden

DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath --host=$(DEB_HOST_GNU_TYPE)
DEB_MAKE_CLEAN_TARGET := clean

clean::
	autoreconf -fivs
	./configure --prefix=/usr --sysconfdir=/etc $(DEB_CONFIGURE_EXTRA_FLAGS)
