<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.coolreader"
          android:installLocation="auto">

    <uses-sdk tools:overrideLibrary="androidx.test.runner,
                                     androidx.test.services.storage,
                                     androidx.test.monitor" />

</manifest>
