p { 
   text-align: justify; 
   text-indent: 1.2em; 
   margin-top:0,5em; 
   margin-bottom: 0,5em 
  }

title { 
   text-align: center; 
   text-indent: 0px; 
   font-size: 120%; 
   font-weight: bold; 
   hyphenate: none; 
   margin-top: 1em; 
   margin-bottom: 1em 
   }

emphasis, i { font-style: italic }

strong, b { font-weight: bold }
