Source: cr3
Section: media
Maintainer: Vadim Lopatin <vadim.lopatin@coolreader.org>
Build-Depends: debhelper (>= 5.0.22), libxcb1-dev, libxcb-image0-dev, libxcb-aux0-dev, libz-dev, libjpeg62-dev, libpng12-dev
XCS-Cross-Host-Build-Depends: debhelper (>> 2.0.0)
XCS-Cross-Build-Depends: libz-dev, libjpeg62-dev, libpng12-dev, libfreetype6-dev
Priority: optional
Standards-Version: 3.6.2

Package: cr3
Architecture: any
Depends: ${shlibs:Depends}
Description: e-book reader
 CoolReader3 is an e-book reader.
 .
 Main features:
  * supports several open e-book formats: fb2, html, epub, rtf,
    tcr (psion text), plain text
  * reads directly from zip archives
  * automatically determines encodings
  * automatically generates a table of contents
  * keeps the last open book and the last read positions for all open books
    between runs
  * automatic hyphenation (patterns for several languages are included)
 .
  Homepage: http://www.coolreader.org/

