<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">
        
    <uses-sdk tools:overrideLibrary="com.google.android.gms.auth.api,
                                    com.google.android.gms.auth.api.phone,
                                    com.google.android.gms.auth,
                                    com.google.android.gms.base,
                                    com.google.android.gms.tasks,
                                    com.google.android.gms.common,
                                    androidx.arch.core,
                                    androidx.core,
                                    androidx.fragment,
                                    androidx.legacy.coreui,
                                    androidx.legacy.coreutils,
                                    androidx.loader,
                                    androidx.viewpager,
                                    androidx.coordinatorlayout,
                                    androidx.drawerlayout,
                                    androidx.slidingpanelayout,
                                    androidx.customview,
                                    androidx.swiperefreshlayout,
                                    androidx.asynclayoutinflater,
                                    androidx.versionedparcelable,
                                    androidx.lifecycle,
                                    androidx.lifecycle.viewmodel,
                                    androidx.lifecycle.livedata,
                                    androidx.lifecycle.livedata.core,
                                    androidx.interpolator,
                                    androidx.cursoradapter,
                                    androidx.documentfile,
                                    androidx.localbroadcastmanager,
                                    androidx.print"
            />
</manifest>
